.transactions {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 60%;
  left: 17%;
  margin-top: 100px;
  margin-left: 100px;
  /* margin-right: 50px; */
  align-self: center;
  justify-self: center;
  align-content: center;
  border-style: solid;
  border-color: #79a2f4;
  border-width: 0.5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.transactionsTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.transactionsText {
  margin: 10px;
}

.displayFilters {
  font-size: 18px;
}
